body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  height: 20px;
}

.logo {
  color: #009432;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #009432;
}

nav ul li a.active,
nav ul li a:hover {
  background: #009432;
  color: #fff;
  transition: 0.5s;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #009432;
  }

  .menu-toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }

  .menu-toggle.active:before {
    content: '\f00d';
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  .sec1 {
    display: block;
  }
}

nav.active ul {
  display: block;
  background: white;
  border-radius: 6px;
}


.sec1 {
  width: 100%;
  height: 80vh;
  color: #009432;
  background: url(rsa.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}

.sec1 h2 {
  font-size: 48px;
  font-weight: 700;
}

.overlay {
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.1;
  position: absolute;
}

.about {
  height: 70vh;
  width: 100%;
  display: flex;
}

.content {
  text-align: center;
  padding: 50px;
  margin-top: 150px;
  height: 100vh;
}

.content h1 {
  font-size: 50px;
  letter-spacing: 2.5px;
}

.content p {
  width: 50vw;
  letter-spacing: 1px;
  line-height: 30px;
}

.content-img img {
  width: 100%;
  height: 100vh;
}

.title h1 {
  margin-top: 350px;
  text-align: left;
  padding-left: 400px;
  color: #009432;
}



.team {
  width: 100%;
  height: 40vh;
}

.members img {
  width: 400px;
  height: 300px;
}

.members {
  display: flex;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

h1 {
  color: #009432;
}

.cesar {
  padding: 10px;
}

.josh {
  padding: 10px;
}

i {
  padding: 10px;
  font-size: 25px;
  color: #009432;
}

.title2 {
  width: 100%;
  height: 15vh;
}

.title2 h1 {
  display: flex;
  justify-content: center;
  margin: 364px;
}

.flies {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.first,
.second,
.third,
img {
  width: 300px;
  margin: auto;
}

.first,
.second,
.third {
  text-align: center;
}

.qty {
  display: flex;
  justify-content: center;
}

h3 {
  font-weight: 400;
}

input {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-left: 5px;
}

.footer {
  width: 100%;
  height: 25vh;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 222px;
  background: #dcdde1;
}

.col1 {
  padding-right: 10rem;
}

.col1 h1 a {
  text-decoration: none;
  color: green;
}

.col2 ul li a {
  text-decoration: none;
  color: green;
}

.col2 ul li {
  list-style: none;
  padding: 5px;
}

.btn {
  margin-left: 25px;
  width: 50px;
  height: 40px;
  border-radius: 10%;
  background: #009432;
  color: whitesmoke;
  margin-top: 5px;
}

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45vh;
  margin-top: 125px;
}

.contactform input {
  width: 500px;
}

textarea {
  margin-left: 6px;
}

.image {
  margin-right: 25px;
}

.submit {
  background: #009432;
  color: whitesmoke;
  height: 5vh;
}

.map {
  height: 60vh;
}